# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scan Output & logs
V4.txt
V6.txt
results.txt
*.log

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
